VERSION_HISTORY.md
/.vs/CAP.AutomatedWorkPriorities/DesignTimeBuild
/.vs/CAP.AutomatedWorkPriorities/FileContentIndex
/.vs/CAP.AutomatedWorkPriorities/v18/.futdcache.v2
/.vs/CAP.AutomatedWorkPriorities/v18/DocumentLayout.backup.json
/.vs/CAP.AutomatedWorkPriorities/v18/DocumentLayout.json
/.vs/CAP.AutomatedWorkPriorities.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/CAP.AutomatedWorkPriorities.slnx/FileContentIndex/ccd5ede6-47b4-4b8d-872b-6c09833226c0.vsidx
/.vs/ProjectEvaluation
/.vs/CAP.AutomatedWorkPriorities.slnx/v18/.futdcache.v2
/obj/Debug/CAP.AutomatedWorkPriorities.AssemblyInfoInputs.cache
/obj/Debug/CAP.AutomatedWorkPriorities.assets.cache
/obj/Debug/CAP.AutomatedWorkPriorities.csproj.AssemblyReference.cache
/obj/Debug/CAP.AutomatedWorkPriorities.csproj.CoreCompileInputs.cache
/obj/Debug/CAP.AutomatedWorkPriorities.csproj.FileListAbsolute.txt
/obj/Debug/CAP.AutomatedWorkPriorities.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/CAP.AutomatedWorkPriorities.sourcelink.json
/obj/Debug/CAP_AutomatedWorkPriorities.dll
/obj/Debug/CAP_AutomatedWorkPriorities.pdb
/obj/Release/CAP.AutomatedWorkPriorities.AssemblyInfoInputs.cache
/obj/Release/CAP.AutomatedWorkPriorities.assets.cache
/obj/Release/CAP.AutomatedWorkPriorities.csproj.AssemblyReference.cache
/obj/Release/CAP.AutomatedWorkPriorities.csproj.CoreCompileInputs.cache
/obj/Release/CAP.AutomatedWorkPriorities.csproj.FileListAbsolute.txt
/obj/Release/CAP.AutomatedWorkPriorities.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/CAP.AutomatedWorkPriorities.sourcelink.json
/obj/CAP.AutomatedWorkPriorities.csproj.nuget.dgspec.json
/obj/CAP.AutomatedWorkPriorities.csproj.nuget.g.props
/obj/CAP.AutomatedWorkPriorities.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Release/CAP_AutomatedWorkPriorities.dll
/obj/Release/CAP_AutomatedWorkPriorities.pdb
/.vs/CAP.AutomatedWorkPriorities/v18
/.vs/CAP.AutomatedWorkPriorities/v18/.suo
/.vs/CAP.AutomatedWorkPriorities.slnx/v18
/.vs/CAP.AutomatedWorkPriorities.slnx/v18/.suo
